body {
    background-color: #354698;
    color: #F5F4C0;
    font-family: Helvetica, sans-serif;

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 100vw;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(53,70,152,1) 100%);
}

h1, h2 {
    text-shadow: 10px 10px 10px black;
}

h1 { font-size: 330%; }

h2 { font-size: 500% }